<% if is_authenticated? 
  
end %>

<%= stylesheet_link_tag "styles" %>

<div align=center id="login">

<h1 align=center> Do App </h1>
<%= form_tag sessions_path do %>
 
 <%= text_field_tag :email, nil, placeholder: 'Email' %>
  <br>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>
  <br>
  <%= submit_tag 'Log In' %>

<% end %>

Don't have an account? <%= link_to 'Sign up!', new_user_path %>

</div>

<div id="screenshot"> 
	<img src ="/images/householdpage.png"/>
</div>

<br><br><br><br>

<h1 align=center>Welcome to DoApp, the site that makes sure you get things done.</h1>

<p> Create groups called Households and invite your housemates to join. Set up a list of things that need to be done around the house, 
and each week members of your household will be randomly assigned their chores. To avoid cheating, after a person completes a chore, 
someone else in the house will have to confirm it. By completing tasks, members will earn points that they can then cash in for rewards. 
First person to 100 gets to eat the last piece of pie!</p>