<%= stylesheet_link_tag "styles" %>

  <% if is_authenticated? %>
   <nav>

   <div> Welcome <%= session[:user_name] %>! </div>
   <div> <%= link_to "Your Chores", "/home/index"  %> </div>
   <div> <%= link_to "Your Household", "/households/#{current_user.household_id}" %> </div>
   <div> <%= link_to "Your Account", "" %> </div>
   <div id=logout > <%= link_to "Log Out", session_path(session[:user_id]), method: :delete %> </div>
    
   </nav>
  
   <% if !current_user.household %>
   	</br>
   	<h1 align=center>     You're not currently a member of a household!</h1>
   	</br>
   <% else %>
   	<% current_user.household.messages.each do |m| %>
   		<h3><%= m.body %></h3>
   	<% end %>
   <% end %>
	
	
  <% else %>
<!--    <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log In", new_session_path %> -->
 
  
  
  <% end %>
