<%= stylesheet_link_tag "styles" %>


  <% if is_authenticated? %>
   <nav>

   <div> Welcome <%= session[:user_name] %>! </div>
   <div> <%= link_to "Your Chores", "/home/index"  %> </div>
   <div> <%= link_to "Your Household", "/households/#{current_user.household_id}" %> </div>
   <div> <%= link_to "Your Account", "" %> </div>
   <div id=logout > <%= link_to "Log Out", session_path(session[:user_id]), method: :delete %> </div>
    
   </nav>
  
   <% if !current_user.household %>
   	</br>
   	<h1 align=center>  You're not currently a member of a household!</h1>
   	</br>
   <% else %>
   	<% current_user.household.chores.each do |m| %>
   		<% if (m.user != current_user) and (m.status == "waiting") %>
			<h3>
			
			
			<%= m.user.name %> claims to have completed the chore '<%= m.name %>'. Did they? 
			
			<%= link_to image_tag("/images/check.svg"), household_chore_verify_path(current_user.household, m.id), method: :patch %>
			
			or 
			
			<%= link_to image_tag("/images/x_mark.png"), household_chore_unverify_path(current_user.household, m.id), method: :patch %>
			
			</h3>
		<% end %>
   	<% end %>
   <% end %>

  <% else %>
<!--    <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log In", new_session_path %> -->
 
<% end %>
