<%= stylesheet_link_tag "styles" %>

<% if is_authenticated? %>
 <nav>
   <div> <%= link_to "Your Chores", "/home/index"  %> </div>
   <div> <%= link_to "Your Household", "/households/#{current_user.household_id}" %> </div>
   <div> <%= link_to "Your Account", "" %> </div>
   <div id="logout"> <%= link_to "Log Out", session_path(session[:user_id]), method: :delete %> </div>
 </nav>

 	<div>
   <% if !current_user.household %>
   	<h1 align='center'>You're not currently a member of a household!</h1>
   <% end %>
 </div>
<% end %>