<%= stylesheet_link_tag "styles" %>

<% if is_authenticated? %>
 <nav>
   <div> <%= link_to "Your Chores", user_path(current_user)  %> </div>
   <% if current_user.household %>
    <div> <%= link_to "Your Household", household_path(current_user.household) %> </div>
  <% end %>
   <div> <%= link_to "Your Account", edit_user_path(current_user) %> </div>
   <div id="logout"> <%= link_to "Log Out", session_path(session[:user_id]), method: :delete %> </div>
 </nav>
<% end %>