<h2 style="margin-left:15px">You have completed your chores for the week!</h2>

<div id=points_indicator > 
 
 <h2>Your Points</h2>
       <h1>76</h1>	   
</div>

<div id=chores_list>
 <h2>Your Chores</h2>
   <table>
     <tr>
		<th class=chore> Chore </th>
		<th class=chore_points> Points </th>
		
		<th class=chore_status> Completed </th>
     </tr>
	 
	 <% current_user.household.chores.each do |chore| %>
     <tr>
			<td class=chore> <%= chore.name %> </td>
			<td class=chore_points> <%= chore.points %> </td>
			
			<td class=chore_status> 
			<% if chore.status == "complete" %>
				<img src="/images/check.svg" >
			<% elsif chore.status == "waiting" %>
				<img src="/images/circle2.svg">
			<% elsif chore.status == "incomplete" %>
				<%= form_for :message, url: messages_path do |f| %>
					<%= f.hidden_field :body, :value => chore.name %>
					<%= f.hidden_field :chore_id, :value => chore.id %>
					<%= f.submit "", :type => :image, :src => "/images/x_mark.png" %>
				<% end %>
			<% end %>
			</td>
     </tr>
	 <% end %>
	 
	<caption> Chores with a checkmark have been completed, ones with a circle are awaiting verification, and chores with Xs are incomplete.
	Clicking on an X will send out a request for your chore to be verified.
   </table>
</div>


