
</br></br></br>

<div id=points_indicator > 
 
 <h2>Your Points</h2>
       <h1><%= current_user.points %></h1>	   
</div>

<div id=chores_list>
 <h2>Your Chores</h2>
   <table>
     <tr>
		<th class=chore> Chore </th>
		<th class=chore_points> Points </th>
		
		<th class=chore_status> Completed </th>
     </tr>
	 
	 <% current_user.household.chores.each do |chore| %>
		<% if current_user == chore.user %>
	 
			<tr>
				<td class=chore> <%= chore.name %> </td>
				<td class=chore_points> <%= chore.points %> </td>
				
				<td class=chore_status> 
				<% if chore.status == "complete" %>
					<img src="/images/check.svg" >
				<% elsif chore.status == "waiting" %>
					<img src="/images/circle2.svg">
				<% elsif chore.status == "incomplete" %>
					
					<%= link_to image_tag("/images/x_mark.png"), household_chore_request_verification_path(current_user.household, chore.id), method: :patch %>
				
				<% end %>
				</td>
			</tr>
		<% end %>
	 <% end %>
	 
	<caption> Chores with a checkmark have been completed, ones with a circle are awaiting verification, and chores with Xs are incomplete.
	Clicking on an X will send out a request for your chore to be verified.
   </table>
</div>


<%= link_to image_tag("/images/x_mark.png"), household_assign_chores_path(current_user.household_id ), method: :patch %>

