<% if chores %>
	
  <table>
    <tr >
      <th >Chore</th>
      <th >Points</th>
      <th >Length of Time</th>
      <th >Times Per Week</th>
      <th>Claim or Complete Chore</th>
	  <% if current_user == current_user.household.head_of_household %>
	  <th>Edit</th>
	  <th>Delete</th>
	  <% end %>
    </tr>
	
    <% chores.each do |chore| %>
	
    <tr>
      <td ><%= chore.name %>   

      </td>
	  
      <td><%= chore.points %></td>
	  
      <td><%= chore.length_of_time %></td>
	  
      <td><%= chore.times_per_week %></td>
	  
      <td>
        <% if chore.household.unassigned_chores.include? chore %> 
         <%= button_to "I'll do this chore", assign_household_chore_path(chore.household, chore), method: :put %>
        <% elsif current_user.uncompleted_chores.include? chore %>
		
          <%= link_to image_tag("/images/x_mark.png"), complete_household_chore_path(chore.household, chore), method: :put %> 
          <% else %>
          <img src="/images/check.svg" >
        <% end %>
      </td>
	  <% if current_user == chore.household.head_of_household %>
	  <td class="edit_chore">
		<%= link_to image_tag("/images/cog.png"), edit_household_chore_path(chore.household, chore) %>
		
	  </td>
	  
	  <td>
		 <%= link_to "Delete", household_chore_path(chore.household, chore), method: :delete %>
	  </td>
	   <% end %>
    </tr>
	
    <% end %>
	
  </table>
  
   <% if current_user.household == @household %>
      <div class="add-chore">
        <%= button_to "Add New Chore", new_household_chore_path(@household), method: :get %>
      </div>
	<% end %>
<% else %>
  <p><em>There are no chores!</em></p>
<% end %>