<h1><%= @household.name %></h1>

<% if current_user.household == @household %>
  <%= button_to "Leave Household", leave_household_path(@household), method: :put %>

  <%= button_to "Add New Chore", new_household_chore_path(@household), method: :get %>
<% end %>

<% unless current_user.household %>
  <%= button_to "Join Household", join_household_path(@household), method: :put %>
<% end %>

<% if @household.members %>
  <ul class="members">
    <% @household.members.each do |member| %>
      <li><%= link_to member.name, user_path(member) %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "chores/chores", locals: { chores: @household.chores } %>