<h1><%= @household.name %></h1>

<% unless current_user.household %>
  <%= button_to "Join Household", join_household_path(@household), method: :put %>
<% end %>

<% if @household.members %>
 <div id=members_list >
 <h3>Members</h3>
  <ul class="members">
    <% @household.members.each do |member| %>
      <li><%= link_to member.name, user_path(member) %></li>

    <% end %>
  </ul>
 </div>
<% end %>

<div id=chores_list>
 <h2>Chores</h2>
   <table>
     <tr>
        <th class=chore> Chore </th>
		<th class=chore_points> Points </th>
        <th class=chore_user> Assigned </th>
		<th class=chore_status> Completed </th>
     </tr>
     <tr>
		<td class=chore> Wash the dishes </td>
		<td class=chore_points> 10 </td>
		<td class=chore_user> Andrew  </td>
		<td class=chore_status> &#x2714 </td>
     </tr>
	  <tr>
		<td class=chore> Take out the garbage</td>
		<td class=chore_points> 5 </td>
		<td class=chore_user> Bob  </td>
		<td class=chore_status> X </td>
     </tr>
   </table>
</div>

<%= render partial: "chores/chores", locals: { chores: @household.chores } %>


<div class="leave">
<% if current_user.household == @household %>
  <%= button_to "Leave Household", leave_household_path(@household), method: :put %>
<% end %>
</div>
